<ion-view view-title="Contacts">
    <ion-content>
        <ion-list can-swipe>
            <div class="card" ng-repeat="contact in contacts">
                <ion-item href="#/contacts/{{ contact.firstName }}">
                    <div class="row">
                        <div class="col col-25">
                            <div class="avatar {{ contact.avatarColor }}">
                                {{ contact.avatarText }}
                            </div>
                        </div>
                        <div class="col col-75">
                            <h2 class="no-margin-top no-margin-bottom big">{{ contact.firstName }} {{ contact.lastName }}</h2>
                            <h3 class="no-margin-top no-margin-bottom wrap">{{ contact.title }} at {{ contact.company }}</h3>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <!-- <div class="list card" ng-repeat="contact in contacts">
            <a href="#/contacts/{{ contact.firstName }}" class="no-underline">

            </a>
        </div> -->
    </ion-content>
</ion-view>
