<ion-view view-title="Feed">
    <ion-content>
        <ion-list can-swipe="true">
            <div class="card" ng-repeat="item in actionItems">
                <div class="item item-divider">
                    {{ item.contact.first_name }} {{ item.contact.last_name }} ({{ item.contact.company }})
                </div>
                <ion-item>
                    <ion-option-button class="button-balanced" ng-click="dismiss(item)">
                        <i class="icon ion-checkmark block-center"></i>
                    </ion-option-button>
                    <div class="item-button-right">
                        {{ item.text }}
                        <a ng-if="item.link" href="{{ item.link }}" class="button button-positive button-clear" target="_blank">
                            <i class="icon {{ item.actionIcon }}"></i>
                        </a>
                        <!--
                        <ion-delete-button class="ion-checkmark button-balanced" ng-click="onItemDelete(item)">
                        </ion-delete-button> -->
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
